
.container {
  /* border: 2px solid lightblue; */
  width: 90%;
  max-width: 900px;
  margin: 0 auto; 
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

@media (min-width: 680px) {
  .container-flex {
      flex-direction: row;
  }
}
@media (min-width: 675px) {
  header {
      text-align: left;
  }
  .container-flex {
    flex-direction: row;
}
}